<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="chat">
    <div id="data" th:data-postid="${post.getId()}" th:data-currentuser="${user.getUsername()}"></div>
    <div id="container" class="container-fluid border border-dark">
        <div id="receiver">
            <h5 class="text-center my-1"
                th:utext="${post.getOwner().getUsername()==user.getUsername()} ? ${post.getManager().getUsername()} : ${post.getOwner().getUsername()}"></h5>
            <!--<small class="text-center" th:text="${status} ? 'online' : 'offline'"></small>-->
        </div>
        <hr/>
        <div style="height: 300px;overflow: auto; max-width: 100%;
    overflow-x: hidden; word-wrap: break-word;" id="messageArea">
            <div class="my-2" id="chatMessage" th:each="chatMessage: ${post.getChatMessages()}">
                <div th:class="${user.getUsername()==chatMessage.getSenderUsername()} ? 'text-right' : ''">
                    <div th:text="${chatMessage.getSenderUsername()}" th:remove="tag"></div>
                    <small th:text="${chatMessage.dateToString()}"></small>
                    <div class="col" th:text="${chatMessage.getContent()}"></div>
                </div>
            </div>
        </div>
        <div id="connecting">Connecting...</div>
        <hr/>
        <form id="messageForm" name="messageForm">
            <div class="row justify-content-center my-2">
                <input class="col-9" type="text" id="message" autocomplete="off"
                       placeholder="Type a message..."/>
                <button class="btn btn-dark btn-sm" type="submit">Send</button>
            </div>
        </form>
    </div>

    <script th:src="@{/js/chat.js}"></script>

    <script th:inline="javascript">
        var messageArea = document.querySelector('#messageArea');
        messageArea.scrollTop = messageArea.scrollHeight;
    </script>

    <script th:inline="javascript">
        $(document).ready(
            function () {
                $('div#chatMessage').hover(
                    function(event) {
                        $(this).addClass('rowHighlight');
                    }
                    ,
                    function(event) {
                        $(this).removeClass('rowHighlight');
                    }
                );
            }
        );
    </script>
    <style type="text/css">
        .rowHighlight {
            background-color: #c6c8c8;
        }
    </style>
</th:block>
</body>
</html>