<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="candidates">
    <div class="modal fade" id="candidatesModal" tabindex="-1" role="dialog"
         aria-labelledby="candidatesModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="candidatesModalLabel">Confirm action</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to choose this candidate:<br>
                    <span class="candidate"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <form method="post"
                          class="choose" th:action="@{/tasks}">

                        <button id="button" type="submit" class="btn btn-dark">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>


<th:block th:fragment="finishTask">
    <div class="modal fade" id="finishTaskModal" tabindex="-1" role="dialog" aria-labelledby="finishTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" th:object="${ratingForm}"
                      th:action="@{/finishtask/{id}(id=${task.getId()})}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="finishTaskModalLabel">Finish this task?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        After this action task's price will
                        be transferred from your account to the task executor's.
                    </div>
                    <div class="modal-body">
                        <div>How satisfied are you?</div>
                        <input class="rating" id="input-id" th:field="*{rating}" required/>
                        <textarea style="width: 100%" th:field="*{comment}" th:type="text" placeholder="Comment" rows="3" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancel
                        </button>
                        <button id="finishButton" type="submit" class="btn btn-dark">Finish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="rateOwner">
    <div class="modal fade" id="rateOwnerModal" tabindex="-1" role="dialog" aria-labelledby="rateOwnerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" th:object="${ratingForm}"
                      th:action="@{/rateowner/{id}(id=${task.getId()})}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rateOwnerModalLabel">Rate task owner</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        After this action task's price will
                        be transferred to your account.
                    </div>
                    <div class="modal-body">
                        <div>How satisfied are you?</div>
                        <input class="rating" id="input-id" th:field="*{rating}" required/>
                        <textarea style="width: 100%" th:field="*{comment}" th:type="text" placeholder="Comment" rows="3" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancel
                        </button>
                        <button id="rateButton" type="submit" class="btn btn-dark">Rate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="readyTask">
    <div class="modal fade" id="readyTaskModal" tabindex="-1" role="dialog" aria-labelledby="readyTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="readyTaskModalLabel">Are you sure this task is ready?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="font-weight: bold" th:text="'Task #'+${task.getId()}">
                        Task #?
                    </div>
                    The owner will be notified that you have completed this task.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <form method="post"
                          th:action="@{/finishtask/{id}(id=${task.getId()})}">

                        <button id="readyButton" type="submit" class="btn btn-dark">Ready</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>


<th:block th:fragment="disputeTask">
    <div class="modal fade" id="disputeTaskModal" tabindex="-1" role="dialog" aria-labelledby="disputeTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="disputeTaskModalLabel">Are you sure you want to start dispute?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    If you cannot reach consesus after three days of dispute, an administrator will fuck you in
                    the ass.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <form method="post"
                          th:action="@{/opendispute/{id}(id=${task.getId()})}">

                        <button id="disputeButton" type="submit" class="btn btn-dark">Start dispute</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>


<th:block th:fragment="deleteTask">
    <div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="deleteTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTaskModalLabel">Delete this task?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    After deleting you will not be able to retrieve this task.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <form method="post"
                          class="choose" th:action="@{/deletetask/{id}(id=${task.getId()})}">

                        <button id="deleteButton" type="submit" class="btn btn-dark">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>