<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="candidates">
    <div class="modal fade" id="candidatesModal" tabindex="-1" role="dialog"
         aria-labelledby="candidatesModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="candidatesModalLabel">Confirm action</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to choose this candidate:<br>
                    <span class="candidate"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <form method="post"
                          class="choose" th:action="@{'\posts'}">

                        <button id="button" type="submit" class="btn btn-dark">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="unsupported">
    <div class="modal fade" id="usupportedModal" tabindex="-1" role="dialog" aria-labelledby="usupportedModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="usupportedModalLabel">Ooops</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Unfortunately, this function is not supported yet!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>