<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="extendDeadline">
    <button type="button" id="extend" class="btn btn-sm" style="width: 100%;">Extend Deadline</button>
    <div id="myForm" hidden>
        <form th:action="@{/viewtask/{id}(id = ${task.id})}" th:object="${task}" id="popForm" method="post">
            <div>
                <input type="datetime-local" name="date" id="localdate" class="input-lg" required>
                <div class="text-right">
                    <button type="submit" class="btn-sm btn-dark my-2" name="extendDeadline" data-loading-text="Sending info.."><em
                            class="icon-ok" ></em>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</th:block>