.rating-container {
    align-items: center;
    font-size: 1em;
    justify-content: center;
    margin-top: 0;
    width: max-content;
}
.empty-stars {
    color: #aaa;
    position: relative;
    text-shadow: 1px 1px #999;
}
.filled-stars {
    color: #2f2f2f;
    overflow: hidden;
    position: absolute;
    text-shadow: 1px 1px #999;
    white-space: nowrap;
    top: 0;
}