<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Candidates</title>
</head>
<body style="background-color: rgba(200,200,200,0.3)">

<th:block th:replace="fragments/header :: header"/>

<div th:object="${post}" class="container my-2">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <!--<div class="row justify-content-center my-3">-->
            <div class="row my-2">
                <div class="col-lg-6 my-2">
                    <h3>Candidates</h3>
                </div>
                <div class="col-lg-6" sec:authorize="isAuthenticated()">
                    <a href="/" class="btn btn-lg btn-dark"
                       th:href="@{/viewpost/{id}(id=*{id})}">Back to post</a>
                </div>
            </div>
            <div th:object="${post}" th:if="${#fields.hasErrors('candidates')}">
                <div class="alert alert-danger text-center" th:errors="*{candidates}">
                    <a href="#" class="close" data-dismiss="alert"
                       aria-label="close">x</a>
                    No such candidate
                </div>
            </div>
            <div class="container my-2" th:each="candidate : *{candidates}">
                <div class="card">
                    <h5 class="card-header" th:text="${candidate.getUsername()}">Subject</h5>
                    <!--<h6 class="card-header" th:text="${candidate.} + ' RUB'">Price</h6>-->
                    <div class="card-body">
                        <!--<div class="card-title" th:text="${candidate.rating}">Description</div>-->
                        <p class="card-text">Some information should be here</p>
                        <div class="row">
                            <div class="col-lg-6 text-left">
                                <h5 class="my-2"
                                    th:text="'Suggested price: ' + ${priceService.getSuggestedPrice(candidate, post).getValue()}">
                                    Suggested price:</h5>
                            </div>
                            <div class="col-lg-2">
                                <a th:href="@{/user/{username}(username = ${candidate.getUsername()})}"
                                   class="btn btn-dark">Full Information</a>
                            </div>
                            <div class="col-lg-3 ml-4">
                                <button class="btn btn-dark" type="button" data-toggle="modal"
                                        th:data-candidate-username="${candidate.getUsername()}"
                                        th:data-post-id="${post.getId()}"
                                        data-target="#candidatesModal">
                                    Choose
                                    Candidate
                                </button>
                            </div>
                            <th:block th:replace="fragments/modal :: candidates"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>

<script type="application/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
</script>

<script th:inline="javascript">
    $('#candidatesModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var candidateUsername = button.data('candidate-username')
        var postId = button.data('post-id')

        var modal = $(this)
        modal.find('.candidate').text(candidateUsername)
        modal.find('.choose').attr('action', '/candidates/' + postId + '/' + candidateUsername)
    })
</script>


<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>