<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Modify Post</title>
</head>

<body>

<form id="logoutForm" method="POST" th:action="@{/logout}" class="form-inline my-2 my-lg-0">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand size-lg text-light">Stingray</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/}">Posts<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/unsupported}">Some shit here</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <!--Here you need to check if the user is already logged in-->
                <div sec:authorize="!isAuthenticated()">
                    <a class="nav-item text-light mr-sm-2" th:href="@{/login}">Login</a>
                    <a class="nav-item text-light mr-sm-3" th:href="@{/registration}">Register</a>
                </div>
                <div sec:authorize="isAuthenticated()">

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/profile}">Profile Page</a>
                            <a class="dropdown-item" th:href="@{/unsupported}">Settings</a>
                            <div class="dropdown-divider"></div>
                            <div>
                                <button class="dropdown-item btn" th:type="submit">Logout</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </nav>
</form>

<!--This piece of shit is for the form to be in the right place-->
<div class="d-flex flex-column">
    <h1 class="text align-self-center p-2"></h1>
    <h4 class="text align-self-center p-2"></h4>
</div>

<div class="container my-5">

    <div class="row justify-content-center">

        <form action="#" class="col-6"
              th:object="${post}" th:action="@{/changepost/{id}(id = *{id})}" method="post">
            <div class="form-group">
                <h2>Modify Post</h2>
                <div class="form-group">
                    <label for="subject" class="col-form-label">Subject</label>
                    <input type="text" th:field="*{subject}" class="form-control" id="subject"
                           placeholder="Subject">
                    <p th:if="${#fields.hasErrors('subject')}"
                       th:id="error-password" class="text-danger" th:errors="*{subject}"></p>
                </div>
                <div class="form-group">
                    <label for="description" class="col-form-label">Description</label>
                    <input type="text" th:field="*{description}" class="form-control" id="description"
                           placeholder="Description">
                    <p th:if="${#fields.hasErrors('description')}"
                       th:id="error-password" class="text-danger" th:errors="*{description}"></p>
                </div>
                <div class="form-group">
                    <label for="text" class="col-form-label">Text</label>
                    <textarea class="form-control" id="text" th:field="*{text}" rows="5"></textarea>
                    <p th:if="${#fields.hasErrors('text')}"
                       th:id="error-password" class="text-danger" th:errors="*{text}"></p>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Modify Post">
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>