<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot WebSocket</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
<div id="container" class="container-fluid">
    <h5 class="text-center" id="username" th:utext="${user.getUsername()}"></h5>
    <div class="text-center text-secondary" id="status">online</div>
    <hr/>

    <div id="connecting">Connecting...</div>
    <div style="height: 500px;overflow: auto; max-width: 100%;
    overflow-x: hidden; word-wrap: break-word;">
        <div id="messageArea">
        </div>
    </div>
    <hr/>
    <form id="messageForm" name="messageForm">
        <div class="text-center">
            <input type="text" id="message" autocomplete="off"
                   placeholder="Type a message..."/>
            <button class="btn btn-dark btn-sm" type="submit">Send</button>
        </div>
    </form>
</div>
<div class="container" th:each="chatMessage: ${user.getChatMessages()}">
    <span th:utext="${chatMessage.getContent()}">ЛУЛ</span>
</div>

<script th:src="@{/js/chat.js}"></script>

</body>
</html>