<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script defer th:src="@{/js/countdown.js}"></script>
    <title>Posts</title>
</head>
<body style="background-color: rgba(200,200,200,0.3)">

<th:block th:replace="fragments/header :: header"/>

<div class="container my-2">
    <div th:if="${postPage.content.size()==0}" class="my-5 text-center">
        <div class="jumbotron" style="background-color: transparent">
            <h1 class="display-4">No available posts!</h1>
            <div sec:authorize="isAuthenticated()">
                <a href="create-post" class="btn btn-lg btn-dark"
                   th:href="@{/createpost}">Create
                    Post</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div th:if="${postPage.content.size()>0}" class="row my-3 text-center">
                <div class="col-lg-6">
                    <div class="my-2">
                        <h3>Posts</h3>
                    </div>
                </div>
                <div class="col-lg-6" sec:authorize="isAuthenticated()">
                    <a href="create-post" class="btn btn-lg btn-dark"
                       th:href="@{/createpost}">Create
                        Post</a>
                </div>
            </div>
            <div class="container my-2" th:each="post : ${postPage.content}">
                <div class="card" th:id="${post.id}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="${post.subject}">Subject</h4>
                            </div>
                            <div class="col">
                                <h5 class="text-right" th:text="${post.owner.username}"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title" th:text="${post.description}">Description</div>

                        <div class="row">
                            <div class="col">
                                <a th:href="@{/viewpost/{id}(id = ${post.getId()})}"
                                   class="btn btn-dark">View</a>
                            </div>
                            <div class="col">
                                <div class="text-center" style="font-size: large; font-weight: bold"
                                     th:text="'Reward: ' + ${post.price} + ' RUB'">Price
                                </div>
                            </div>
                            <div class="col text-right">
                                <!--<div class="row text-right">-->
                                    <!--<i class="far fa-clock"></i>-->
                                    <div class="postId" th:data-postid="${post.id}"></div>
                                    <div th:id="'countdown'+${post.id}" th:data-timeleft="${post.getDeadlineTime()}" th:text="${post.getTimeleft()}"
                                         class="text-secondary" style="font-weight: bold;"></div>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div th:if="${postPage.totalPages > 1}"
             th:each="pageNumber : ${pageNumbers}">
            <a class="btn btn-dark btn-sm mr-1" th:href="@{/posts(size=${postPage.size}, page=${pageNumber})}"
               th:text="${pageNumber}"></a>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>