<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">


    <title>Profile</title>
</head>
<body style="background-color: rgba(200,200,200,0.3)">

<th:block th:replace="fragments/header :: header"/>

<div class="col-lg-10 offset-lg-1">
    <div class="row">
        <div class="col-lg-4">
            <h4 align="center" class="my-4">Your Profile</h4>
            <table class="table" width="100%">
                <tbody>
                <tr>
                    <td height="20%" width="40%">
                        <h6 align="left">Username</h6>
                    </td>
                    <td width="50%">
                        <h6 align="left" th:text="${user.getUsername()}"></h6>
                    </td>
                    <td width="10%"></td>
                </tr>
                <tr>
                    <td height="20%" width="40%">
                        <h6 align="left">Email</h6>
                    </td>
                    <td width="50%">
                        <h6 align="left" th:text="${user.getEmail()}"></h6>
                    </td>
                    <td width="10%"></td>
                </tr>
                <tr th:if="${user.getReserved() > 0}">
                    <td height="20%" width="40%">
                        <h6 align="left">Reserved sum</h6>
                    </td>
                    <td colspan="2" width="40%">
                        <h6 align="left" th:text="${user.getReserved()} + ' RUB'"></h6>
                    </td>
                </tr>
                <tr>
                    <td height="20%" width="40%">
                        <h6 align="left">Balance</h6>
                    </td>
                    <td width="50%">
                        <h6 align="left" th:text="${user.getBalance()} + ' RUB'"></h6>
                    </td>
                    <td width="10%">
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item" th:href="@{/top-up-balance}">Top up</a>
                                <a class="dropdown-item" th:if="${user.getBalance() > 0}" th:href="@{/withdraw}">Withdraw</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="20%" width="40%">
                        <h6 align="left">Rating as creator</h6>
                    </td>
                    <td width="50%">
                        <h6 align="left" th:text="${user.getOwnerRating()}"></h6>
                    </td>
                    <td width="10%">
                    </td>
                </tr>
                <tr>
                    <td height="20%" width="40%">
                        <h6 align="left">Rating as executor</h6>
                    </td>
                    <td width="50%">
                        <h6 align="left" th:text="${user.getExecutorRating()}"></h6>
                    </td>
                    <td width="10%">
                    </td>
                </tr>
                <tr>
                    <td height="20%" width="40%">
                        <h6 align="left">Created tasks</h6>
                    </td>
                    <td width="50%">
                        <h6 align="left" th:text="${user.getCreatedTasks().size()}"></h6>
                    </td>
                    <td width="10%">
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item" th:href="@{/createtask}">Create</a>
                                <a class="dropdown-item" th:if="${!user.getCreatedTasks().isEmpty()}"
                                   th:href="@{/viewcreatedtasks}">View</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="20%" width="40%">
                        <h6 align="left">Assigned tasks</h6>
                    </td>
                    <td width="50%">
                        <h6 align="left" th:text="${user.getAssignedTasks().size()}"></h6>
                    </td>
                    <td width="10%">
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item" th:if="${!user.getAssignedTasks().isEmpty()}"
                                   th:href="@{/viewassignedtasks}">View</a>
                                <a class="dropdown-item" th:if="${user.getAssignedTasks().isEmpty()}"
                                   th:href="@{/tasks}">Choose</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="20%" width="40%">
                        <h6 align="left">Accepted tasks</h6>
                    </td>
                    <td width="50%">
                        <h6 align="left" th:text="${user.getAcceptedTasks().size()}"></h6>
                    </td>
                    <td width="10%">
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item" th:if="${!user.getAcceptedTasks().isEmpty()}"
                                   th:href="@{/viewassignedtasks}">View</a>
                                <a class="dropdown-item" th:if="${user.getAcceptedTasks().isEmpty()}"
                                   th:href="@{/tasks}">Choose</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--Tables-->
        <div class="col-lg-8">
            <h4 align="center" class="my-4"
                th:if="${user.getCreatedTasks().isEmpty()}">No created tasks yet!<hr class="my-4"/></h4>
            <div th:if="${!user.getCreatedTasks().isEmpty()}" th:bgcolor="lightblue">
                <div class="container-fluid" align="center">
                    <h4 class="my-4">Created Tasks</h4>
                    <div class="row">
                        <div class="col-md-12" style="height: auto; width: auto; overflow:auto;">
                            <table class="table header-fixed table-striped table-responsive-md table-hover ">
                                <thead>
                                <tr>
                                    <th width="60"> Subject</th>
                                    <th width="200">Description</th>
                                    <th width="50">Status</th>
                                    <th width="50">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="height: 20px;" th:each="task : ${user.getCreatedTasks()}">
                                    <td>
                                        <a th:href="@{/viewtask/{id}(id = ${task.getId()})}"
                                           th:text="${task.subject}"></a>
                                    </td>
                                    <td>
                                        <a th:text="${task.description}"></a>
                                    </td>
                                    <td>
                                        <a th:text="${task.state}"></a>
                                    </td>
                                    <td>
                                        <a th:text="${task.price}"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <h4 align="center"
                th:if="${user.getAssignedTasks().isEmpty()}">No assigned tasks yet!</h4>
            <div th:if="${!user.getAssignedTasks().isEmpty()}" th:bgcolor="lightblue">
                <div class="container-fluid" align="center">
                    <h4 class="my-4">Assigned Tasks</h4>
                    <div class="row">
                        <div class="col-md-12" style="height: 200px; width: auto; overflow:auto;">
                            <table class="table header-fixed table-striped table-responsive-md table-hover ">
                                <thead>
                                <tr>
                                    <th width="60"> Subject</th>
                                    <th width="200">Description</th>
                                    <th width="50">Status</th>
                                    <th width="50">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="height: 20px;" th:each="task : ${user.getAssignedTasks()}"
                                    th:href="@{/viewtask/{id}(id = ${task.getId()})}">
                                    <td>
                                        <a th:href="@{/viewtask/{id}(id = ${task.getId()})}"
                                           th:text="${task.subject}"></a>
                                    </td>
                                    <td>
                                        <a th:text="${task.description}"></a>
                                    </td>
                                    <td>
                                        <a th:text="${task.state.toString()=='FINISHED' && task.getOwnerRating()==null} ? 'AWAITING RATING' : ${task.state}"></a>
                                    </td>
                                    <td>
                                        <a th:text="${task.price}"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>