<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Profile</title>
</head>
<body style="background-color: rgba(200,200,200,0.3)">

<th:block th:replace="fragments/header :: header"/>

<div class="container my-5">
    <div th:if="${message == true}" class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert"
           aria-label="close">x</a>
        <strong>Success!</strong> Welcome to the site!
    </div>
    <h1>Your profile</h1>

    <div>
        <p>Username: <span th:text="${user.getUsername()}">Username</span></p>
    </div>
    <p>
        <a th:class="headerText">Balance: <span th:text="${user.getBalance().toString()} + ' RUB'"></span></a>
        <a th:class="smallText" th:if="${user.reserved > 0}">    (reserved: <span th:text="${user.getReserved().toString()} + ' RUB)'"></span></a>
    </p>
    <p>
        <a href="/" th:href="@{/}">Posts page</a>
    </p>
    <p>
        <a href="createpost"
           th:href="@{/createpost}">Create
                Post</a>
    </p>
    <p>
        <a href="top-up-balance"
           th:href="@{/top-up-balance}">Top up balance</a>
    </p>

</div>

<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>