<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Registration</title>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand size-lg text-light">Stingray</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/}">Posts<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/unsupported}">Some shit here</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!--Here you need to check if the user is already logged in-->
            <div sec:authorize="!isAuthenticated()">
                <a class="nav-item text-light mr-sm-2" th:href="@{/login}">Login</a>
                <a class="nav-item text-light mr-sm-3" th:href="@{/registration}">Register</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form id="logoutForm" method="POST" th:action="@{/logout}" class="form-inline my-2 my-lg-0">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/profile}">Profile Page</a>
                            <a class="dropdown-item" th:href="@{/unsupported}">Settings</a>
                            <div class="dropdown-divider"></div>
                            <div>
                                <button class="dropdown-item btn" th:type="submit">Logout</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </form>
    </div>
</nav>

<div class="d-flex flex-column">
    <h1 class="text align-self-center p-2"></h1>
    <h4 class="text align-self-center p-2"></h4>
</div>

<div class="container my-5">

    <div class="row justify-content-center align-items-center">
        <form class="col-5" method="post" th:object="${userForm}">
            <h2 class="form-heading">Create your account</h2>
            <!--<input type="hidden" th:name="${_csrf.parameterName}"-->
                   <!--th:value="${_csrf.token}"/>-->

            <div class="form-group">
                <input th:field="*{username}" th:type="text" class="form-control" placeholder="Username"/>
                <p th:if="${#fields.hasErrors('username')}"
                   th:id="error-username" class="text-danger" th:errors="*{username}"></p>
            </div>
            <div class="form-group">
                <input th:field="*{email}" th:type="text" class="form-control" placeholder="Email"/>
                <p th:if="${#fields.hasErrors('email')}"
                   th:id="error-email" class="text-danger" th:errors="*{email}"></p>
            </div>
            <div class="form-group">
                <input th:field="*{password}" th:type="password" class="form-control" placeholder="Password"/>
                <p th:if="${#fields.hasErrors('password')}"
                   th:id="error-password" class="text-danger" th:errors="*{password}"></p>
            </div>
            <div class="form-group">
                <input th:field="*{passwordConfirm}" th:type="password" class="form-control"
                       placeholder="Password Confirmation"/>
                <p th:if="${#fields.hasErrors('passwordConfirm')}"
                   th:id="error-passwordConfirm" class="text-danger" th:errors="*{passwordConfirm}"></p>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-dark btn-block" type="submit">Submit</button>
            </div>
                <p class="text-center text-secondary"><a href="/" th:href="@{/login}">Back to login page</a></p>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
