<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/star-rating.css}">

    <title>Profile</title>
</head>
<body style="background-color: rgba(200,200,200,0.3)">

<th:block th:replace="fragments/header :: header"/>

<div class="container my-5" th:object="${user}">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="row justify-content-center">
                <h1 class="text">User profile</h1>
            </div>
        </div>
        <div class="container my-5">
            <p>Username: <span th:text="*{username}">Username</span></p>
            <p>Email: <span th:text="*{email}">Email</span></p>
        </div>
        <table class="table" width="100%">
            <tbody>
            <tr>
                <td height="20%" width="40%">
                    <h6 align="left">Rating as creator</h6>
                </td>
                <td width="50%">
                    <div class="rating-container">
                        <div class="empty-stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div class="filled-stars" th:style="'width: '+${user.getOwnerRating()*20}+'%'">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <h6 align="left" th:text="${user.getOwnerRating()}"></h6>
                </td>
                <td width="10%">
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"
                                th:disabled="${user.getOwnerRatings().isEmpty() && user.getExecutorRatings().isEmpty()}">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="dropdown-item"
                               th:href="@{/ratings/{username}(username = ${user.getUsername()})}">View</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td height="20%" width="40%">
                    <h6 align="left">Rating as executor</h6>
                </td>
                <td width="50%">
                    <div class="rating-container">
                        <div class="empty-stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div class="filled-stars" th:style="'width: '+${user.getExecutorRating()*20}+'%'">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <h6 align="left" th:text="${user.getExecutorRating()}"></h6>
                </td>
                <td width="10%">
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"
                                th:disabled="${user.getOwnerRatings().isEmpty() && user.getExecutorRatings().isEmpty()}">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="dropdown-item"
                               th:href="@{/ratings/{username}(username = ${user.getUsername()})}">View</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-lg-4">
            <h4>Created Tasks</h4>
            <div th:each="createdTask:${user.getCreatedTasks()}">
                <div class="row">
                    <div class="col-lg-6" th:text="${createdTask.getSubject()}"></div>
                    <!--<div class="col-lg-4" th:text="${createdTask.getDescription()}"></div>-->
                    <a class="col-lg-6" th:href="@{/viewtask/{id}(id=${createdTask.getId()})}">View Task</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>Assigned Tasks</h4>
            <div th:each="acceptedTask:${user.getAssignedTasks()}">
                <div class="row">
                    <div class="col-lg-6" th:text="${acceptedTask.getSubject()}"></div>
                    <!--<div class="col-lg-4" th:text="${acceptedTask.getDescription()}"></div>-->
                    <a class="col-lg-6" th:href="@{/viewtask/{id}(id=${acceptedTask.getId()})}">View Task</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>Accepted Tasks</h4>
            <div th:each="candidateTask:${user.getAcceptedTasks()}">
                <div class="row">
                    <div class="col-lg-6" th:text="${candidateTask.getSubject()}"></div>
                    <!--<div class="col-lg-4" th:text="${candidateTask.getDescription()}"></div>-->
                    <a class="col-lg-6" th:href="@{/viewtask/{id}(id=${candidateTask.getId()})}">View Task</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>