<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Profile</title>
</head>
<body>

<th:block th:replace="fragments/header :: header"/>

<div class="container my-5" th:object="${user}">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="row justify-content-center">
                <h1 class="text">User profile</h1>
            </div>
        </div>
        <div class="container my-5">
            <p>Username: <span th:text="*{username}">Username</span></p>
            <p>Some information here.</p>
        </div>

        <div class="col-lg-4">
            <h4>Created Posts</h4>
            <div th:each="createdPost:${user.getCreatedPosts()}">
                <div class="row">
                    <div class="col-lg-6" th:text="${createdPost.getSubject()}"></div>
                    <!--<div class="col-lg-4" th:text="${createdPost.getDescription()}"></div>-->
                    <a class="col-lg-6" th:href="@{/viewpost/{id}(id=${createdPost.getId()})}">View Post</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>Accepted Posts</h4>
            <div th:each="acceptedPost:${user.getAcceptedPosts()}">
                <div class="row">
                    <div class="col-lg-6" th:text="${acceptedPost.getSubject()}"></div>
                    <!--<div class="col-lg-4" th:text="${acceptedPost.getDescription()}"></div>-->
                    <a class="col-lg-6" th:href="@{/viewpost/{id}(id=${acceptedPost.getId()})}">View Post</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>Candidate Posts</h4>
            <div th:each="candidatePost:${user.getCandidatePosts()}">
                <div class="row">
                    <div class="col-lg-6" th:text="${candidatePost.getSubject()}"></div>
                    <!--<div class="col-lg-4" th:text="${candidatePost.getDescription()}"></div>-->
                    <a class="col-lg-6" th:href="@{/viewpost/{id}(id=${candidatePost.getId()})}">View Post</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>