<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/star-rating/css/star-rating.css}">

    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script th:src="@{/star-rating/js/star-rating.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <title>View Task</title>
</head>

<body style="background-color: rgba(200,200,200,0.3)">

<th:block th:replace="fragments/header :: header"/>

<div class="container my-5">
    <div th:object="${task}">
        <div class="row">
            <div class="col-lg-8">
                <h2><strong th:text="'Task #' + *{id}+' has been finished!'"></strong></h2>
                <h5><strong th:text="'Deadline was: '+${task.getDeadlineStr()}"></strong></h5>
                <div class="row">
                    <div class="col-lg">
                        <div class="form-group">
                            <label for="owner" class="col-form-label-lg"><strong>Creator</strong></label>
                            <div>
                                <a th:text="*{owner.getUsername()}"
                                   th:href="@{/user/{username}(username=*{owner.getUsername()})}"
                                   id="owner"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="executor" class="col-form-label-lg"><strong>Executor</strong></label>
                            <div>
                                <a id="executor" th:href="@{/user/{username}(username=*{executor.getUsername()})}"
                                   th:text="*{executor.getUsername()}"></a>
                            </div>
                        </div>
                        <label class="col-form-label-lg"><strong>Files</strong></label>
                        <div th:if="${task.getTaskFiles().size() == 0}">
                            No files attached!
                        </div>
                        <div th:each="file:${task.getTaskFiles()}">
                            <a style="word-wrap: break-word;" th:href="@{/download/{id}(id = ${file.getId()})}"
                               th:text="${file.getFileName()}"></a>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="form-group">
                            <label for="subject" class="col-form-label-lg"><strong>Subject</strong></label>
                            <div th:text="*{subject}" id="subject"></div>

                            <label for="description" class="col-form-label-lg"><strong>Description</strong></label>
                            <div style="word-wrap: break-word;" id="description" th:text="*{description}"></div>

                            <label for="text" class="col-form-label-lg"><strong>Price</strong></label>
                            <div id="price" th:text="*{price}"></div>

                            <label for="text" class="col-form-label-lg"><strong>Text</strong></label>
                            <div id="text" th:text="*{text.length()==0}?'No text provided.' : *{text}"
                                 style="height: auto;border:1px;overflow:auto;word-wrap: break-word; max-height: 140px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h4 class="text-center"><b>Chat</b></h4>
                <div id="container" class="container-fluid border border-dark">
                    <div id="receiver">
                        <h5 class="text-center my-1"
                            th:utext="${task.getOwner().getUsername()==user.getUsername()} ? ${task.getExecutor().getUsername()} : ${task.getOwner().getUsername()}"></h5>
                        <!--<small class="text-center" th:text="${status} ? 'online' : 'offline'"></small>-->
                    </div>
                    <hr/>
                    <div style="height: 300px;overflow: auto; max-width: 100%;
    overflow-x: hidden; word-wrap: break-word;" id="messageArea">
                        <div class="my-2" id="chatMessage" th:each="chatMessage: ${task.getChatMessages()}">
                            <div th:class="${user.getUsername()==chatMessage.getSenderUsername()} ? 'text-right' : ''">
                                <div th:text="${chatMessage.getSenderUsername()}" th:remove="tag"></div>
                                <small th:text="${chatMessage.dateToString()}"></small>
                                <div class="col" th:text="${chatMessage.getContent()}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg my-2">
                <a class="btn btn-dark" style="width: 100%;" th:href="@{/tasks}">
                    Home </a>
            </div>
            <div class="col-lg my-2">
                <a class="btn btn-dark" style="width: 100%;" th:href="@{/profile}">
                    Profile
                </a>
            </div>
            <div class="col-lg my-2">
                <a class="btn btn-dark" style="width: 100%;" th:href="@{/history/{id}(id = ${task.getId()})}">
                    Task History
                </a>
            </div>
        </div>
            <button th:if="${task.getExecutor().getUsername()==user.getUsername() && task.getOwnerRating()==null}" class="btn btn-dark my-2" type="button" style="width: 100%;"
                    data-toggle="modal"
                    data-target="#rateOwnerModal">
                Rate task owner
            </button>
    </div>
</div>

<th:block th:replace="fragments/modal :: rateOwner"/>

<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>