<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>View Task</title>
</head>
<body style="background-color: rgba(200,200,200,0.3)">
<th:block th:replace="fragments/header :: header"/>
<div class="container my-5">
    <div th:object="${task}">
        <h2><strong th:text="'Task #' + *{id}+' has expired!'"></strong></h2>
        <h5><strong th:text="'Deadline: '+${task.getDeadlineStr()}"></strong></h5>
        <div class="row">
            <div class="col-lg">
                <div class="form-group">
                    <label for="owner" class="col-form-label-lg"><strong>Creator</strong></label>
                    <div>
                        <a th:text="*{owner.getUsername()}"
                           th:href="@{/user/{username}(username=*{owner.getUsername()})}"
                           id="owner"></a>
                    </div>
                </div>
                <label class="col-form-label-lg"><strong>Files</strong></label>
                <div th:each="file:${task.getTaskFiles()}">
                    <a style="word-wrap: break-word;" th:href="@{/download/{id}(id = ${file.getId()})}"
                       th:text="${file.getFileName()}"></a>
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <label for="subject" class="col-form-label-lg"><strong>Subject</strong></label>
                    <div th:text="*{subject}" id="subject"></div>

                    <label for="description" class="col-form-label-lg"><strong>Description</strong></label>
                    <div id="description" th:text="*{description}"></div>

                    <label for="text" class="col-form-label-lg"><strong>Price</strong></label>
                    <div id="price" th:text="*{price}"></div>

                    <label for="text" class="col-form-label-lg"><strong>Text</strong></label>
                    <div id="text" th:text="*{text}" style="height: 100px;border:1px;overflow:auto;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <a th:href="@{/changetask/{id}(id = *{id})}">
                    <button class="btn btn-dark" style="width: 100%">
                        Modify
                    </button>
                </a>
            </div>
            <div class="col-lg">
                <button class="btn btn-dark" style="width: 100%" type="button" data-toggle="modal"
                        data-target="#deleteTaskModal">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/modal :: deleteTask"/>
</body>
</html>