<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>View Post</title>
</head>

<body>

<th:block th:replace="fragments/header :: header"/>

<div class="container my-5">
    <form th:object="${post}">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <h2><strong>Creator</strong></h2>
                <!--<div class="form-group">-->
                <!--<img th:src="*{owner.getImage()}" id="photo">-->
                <!--</div>-->
                <div class="form-group">
                    <label for="username" class="col-form-label-lg"><strong>Username</strong></label>
                    <div>
                        <a th:text="*{owner.getUsername()}"
                           th:href="@{/user/{username}(username=*{owner.getUsername()})}"
                           id="username"></a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="candidates" class="col-form-label-lg"><strong>Candidates</strong></label>
                    <div style="height:143px;width:50px;border:1px;overflow:auto;">
                        <div id="candidates" th:each="candidate: ${post.getCandidates()}">
                            <a th:href="@{/user/{username}(username=${candidate.getUsername()})}"
                               th:text="${candidate.getUsername()}"></a>
                        </div>
                    </div>
                    <a th:href="@{/candidates/{id}(id=*{id}}" class="btn btn-dark">Choose candidate</a>
                </div>
            </div>
            <div class="col-lg-4">
                <h2><strong>Post</strong></h2>
                <div class="form-group">
                    <label for="subject" class="col-form-label-lg"><strong>Subject</strong></label>
                    <div th:text="*{subject}" id="subject"></div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-form-label-lg"><strong>Description</strong></label>
                    <div th:text="*{description}" id="description"></div>

                </div>
                <div class="form-group">
                    <label for="text" class="col-form-label-lg"><strong>Text</strong></label>
                    <div id="text" th:text="*{text}"></div>
                </div>
                <div th:if="${post.owner.getUsername()!=username}"
                     class="form-group">
                    <div th:if="${post.hasCandidate(username)}">
                        <a class="btn btn-dark"
                           th:href="@{'/rejectpost/'+${post.getId()}+'/'+${username}}">Reject
                            post</a>
                    </div>
                    <div th:if="${!post.hasCandidate(username)}">
                        <a class="btn btn-dark"
                           th:href="@{'/acceptpost/'+${post.getId()}+'/'+${username}}">Accept
                            post</a>
                    </div>
                </div>
                <div th:if="${post.owner.getUsername()==username}"
                     class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <a class="btn btn-dark" th:href="@{/changepost/{id}(id = *{id})}">Modify post</a>
                        </div>
                        <div class="col-lg-4">
                            <a th:href="@{/deletepost/{id}(id = *{id})}" class="btn btn-dark">Delete post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>