<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>View Post</title>
</head>

<body style="background-color: rgba(200,200,200,0.3)">

<th:block th:replace="fragments/header :: header"/>

<div class="container my-4">
    <div th:object="${post}" class="text-left">
        <h2><strong th:text="'Post #' + *{id}"></strong></h2>
        <div class="row">
            <h5 class="col-lg-4"><strong id="deadline" th:text="'Deadline: '+${post.getDeadlineStr()}"></strong></h5>
            <div th:if="*{candidates.size()!=0}">
                <th:block th:replace="fragments/popover :: extendDeadline"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="username" class="col-form-label-lg"><strong>Creator</strong></label>
                    <div>
                        <a th:text="*{owner.getUsername()}"
                           th:href="@{/user/{username}(username=*{owner.getUsername()})}"
                           id="username"></a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="candidates" class="col-form-label-lg"><strong>Candidates</strong></label>
                    <div th:if="*{candidates.size()==0}">
                        <span>No candidates yet!</span>
                    </div>
                    <div id="candidates" th:each="candidate: *{candidates}">
                        <a th:href="@{/user/{username}(username=${candidate.getUsername()})}"
                           th:text="${candidate.getUsername()}"></a>
                    </div>
                    <div>
                        <a th:href="@{/candidates/{id}(id=*{id})}">
                            <button th:disabled="*{candidates.size()==0}" style="width: 100%;" class="btn btn-dark my-2"
                                    data-toggle="tooltip"
                                    data-placement="bottom" title="Tooltip on bottom"
                                    th:title="*{candidates.size()==0} ? 'There are no candidates yet!' : ''">
                                Choose candidate
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label for="subject" class="col-form-label-lg"><strong>Subject</strong></label>
                    <div th:text="*{subject}" id="subject"></div>

                    <label for="description" class="col-form-label-lg"><strong>Description</strong></label>
                    <div id="description" th:text="*{description}"></div>

                    <div class="col-form-label-lg"><strong th:text="'Maximum price: '+*{price}">Maximum price</strong>
                    </div>

                    <div class="col-form-label-lg"><strong
                            th:text="'Lowest suggested price: '+${post.findLowestSuggestedPrice()}">Lowest suggested
                        price</strong></div>

                    <label for="text" class="col-form-label-lg"><strong>Text</strong></label>
                    <div id="text" th:text="*{text}" style="height: 100px;border:1px;overflow:auto;"></div>
                </div>
                <div class="form-group my-5">
                    <div class="row">
                        <div class="col">
                            <a th:href="@{/changepost/{id}(id = *{id})}">
                                <button class="btn btn-dark" style="width: 100%" th:disabled="*{candidates.size()!=0}"
                                        data-toggle="tooltip"
                                        data-placement="bottom" title="Tooltip on bottom"
                                        th:title="*{candidates.size()!=0} ? 'You can\'t modify the post when somebody has already applied' : ''">
                                    Modify
                                </button>
                            </a>
                        </div>
                        <div class="col">
                            <button class="btn btn-dark" style="width: 100%" type="button" data-toggle="modal"
                                    data-target="#deletePostModal">
                                Delete
                            </button>
                        </div>
                    </div>
                    <form class="row my-2" method="post" th:action="@{/viewpost/{id}(id = ${post.getId()})}"
                          enctype="multipart/form-data">
                        <div class="col-9">
                            <input type="file" name="files" class="file-input" multiple required/>
                            <div class="upload-response">
                                <div id="multipleFileUploadError"></div>
                                <div id="multipleFileUploadSuccess"></div>
                            </div>
                        </div>
                        <div class="col">
                            <button class="btn-sm btn-dark" style="width: 100%" type="submit" name="addfiles">Upload
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <label class="col-form-label-lg"><strong>Files</strong></label>
                <div th:if="${post.getPostFiles().size() == 0}">
                    No files attached!
                </div>
                <div th:each="file:${post.getPostFiles()}">
                    <form class="row" method="post" th:action="@{/deletefile/{id}(id = ${post.getId()})}">
                        <div class="col-lg">
                            <a style="word-wrap: break-word;" th:href="@{/download/{id}(id = ${file.getId()})}"
                               th:text="${file.getFileName()}"></a>
                        </div>
                        <div class="col-lg-3" th:if="${post.getCandidates().size()==0}">
                            <button type="submit" class="close" name="fileId" th:value="${file.getId()}"
                                    data-toggle="tooltip"
                                    data-placement="bottom" title="Delete file">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/modal :: deletePost"/>

<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!--<script th:inline="javascript">-->
    <!--$(function () {-->
        <!--$('[data-toggle="popover"]').popover()-->
    <!--})-->
<!--</script>-->

<script th:src="@{/js/extendDeadline.js}"></script>

</body>
</html>