<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>View Task</title>
</head>

<body style="background-color: rgba(200,200,200,0.3)">

<th:block th:replace="fragments/header :: header"/>

<div class="container my-4">
    <div th:object="${task}" class="text-left">
        <h2><strong th:text="'Task #' + *{id}"></strong></h2>
        <h5><strong th:text="'Deadline: '+${task.getDeadlineStr()}"></strong></h5>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="username" class="col-form-label-lg"><strong>Creator</strong></label>
                    <div>
                        <a th:text="*{owner.getUsername()}"
                           th:href="@{/user/{username}(username=*{owner.getUsername()})}"
                           id="username"></a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="candidates" class="col-form-label-lg"><strong>Candidates</strong></label>
                    <div style="height: 300px;border:1px;overflow:auto;">
                        <div th:if="*{candidates.size()==0}">
                            <span>No candidates yet!</span>
                        </div>
                        <div id="candidates" th:each="candidate: *{candidates}">
                            <a th:href="@{/user/{username}(username=${candidate.getUsername()})}"
                               th:text="${candidate.getUsername()}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label for="subject" class="col-form-label-lg"><strong>Subject</strong></label>
                    <div th:text="*{subject}" id="subject"></div>

                    <label for="description" class="col-form-label-lg"><strong>Description</strong></label>
                    <div id="description" th:text="*{description}"></div>

                    <div class="col-form-label-lg"><strong th:text="'Maximum price: '+*{price}">Maximum price</strong></div>

                    <div class="col-form-label-lg"><strong th:text="'Lowest suggested price: '+${task.findLowestSuggestedPrice()}">Lowest suggested price</strong></div>

                    <label for="text" class="col-form-label-lg"><strong>Text</strong></label>
                    <div id="text" th:text="*{text}" style="height: 100px;border:1px;overflow:auto;"></div>
                </div>
                <div class="form-group my-5">
                </div>
            </div>
            <div class="col-lg-3">
                <label class="col-form-label-lg"><strong>Files</strong></label>
                <div th:if="${task.getTaskFiles().size() == 0}">
                    No files attached!
                </div>
                <div th:each="file:${task.getTaskFiles()}">
                    <a style="word-wrap: break-word;" th:href="@{/download/{id}(id = ${file.getId()})}" th:text="${file.getFileName()}"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2" th:if="${task.getCandidates().contains(user)}">
        <form class="col" method="post" th:action="@{'/viewtask/'+${task.getId()}}">
            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <button class="btn btn-dark"
                    type="submit" style="width: 100%" name="rejecttask" th:value="${user.getUsername()}">Reject
                task
            </button>
        </form>
        <form class="col" method="post" th:object="${suggestedPrice}"
              th:action="@{'/viewtask/'+${task.getId()}}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="row">
                <input class="form-control col" th:name="value" th:type="number"
                       placeholder="Your price" required>
                <button class="btn btn-dark col" type="submit" style="width: 100%" name="suggestprice"
                        th:value="${user.getUsername()}">Suggest
                </button>
            </div>
            <p th:if="${#fields.hasErrors('value')}"
               th:id="error-value" class="text-danger" th:errors="*{value}"></p>
        </form>
    </div>
    <div th:if="${suggestedPrice.getValue()!=task.getPrice()}" class="form-group my-1">
        <div class="row">
            <div class="col-lg text-center" style="font-weight: bold"
                 th:text="'Your suggested price: ' + ${suggestedPrice.getValue()}"></div>
        </div>
    </div>
    <div th:if="${!task.getCandidates().contains(user)}">
        <form method="post" th:action="@{'/viewtask/'+${task.getId()}}">
            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <button class="btn btn-dark my-2"
                    type="submit" style="width: 100%" name="accepttask" th:value="${user.getUsername()}">Accept
                task
            </button>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>