<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/star-rating.css}">

    <title>Tasks</title>
</head>
<body style="background-color: rgba(200,200,200,0.3)">

<th:block th:replace="fragments/header :: header"/>

<div class="col-lg-10 offset-lg-1 my-3">
    <div class="my-2 text-center">
        <h3>Ratings</h3>
    </div>
    <div class="row">
        <div class="col-lg">
            <div th:if="${user.getOwnerRatings().isEmpty()}">
                <h4 class="text-center">No ratings as owner</h4>
            </div>
            <div th:if="${!user.getOwnerRatings().isEmpty()}">
                <h4 class="text-center">As owner</h4>
            </div>
            <div class="container my-2" th:each="rating : ${user.getOwnerRatings()}">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="ml-2">
                                <h4 th:text="${rating.getAuthor()}">Author</h4>
                            </div>
                            <div class="row ml-auto mr-3">
                                <div class="rating-container">
                                    <div class="empty-stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <div class="filled-stars"
                                             th:style="'width: '+${rating.getRating()*20}+'%'">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ml-1 mr-2" th:text="${rating.getRating()}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title" th:text="${rating.getComment()}">Description</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div th:if="${user.getOwnerRatings().isEmpty()}">
                <h4 class="text-center">No ratings as executor</h4>
            </div>
            <div th:if="${!user.getOwnerRatings().isEmpty()}">
                <h4 class="text-center">As executor</h4>
            </div>
            <div class="container my-2" th:each="rating : ${user.getExecutorRatings()}">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="ml-2">
                                <h4 th:text="${rating.getAuthor()}">Author</h4>
                            </div>
                            <div class="row ml-auto mr-3">
                                <div class="rating-container">
                                    <div class="empty-stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <div class="filled-stars"
                                             th:style="'width: '+${rating.getRating()*20}+'%'">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ml-1 mr-2" th:text="${rating.getRating()}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title" th:text="${rating.getComment()}">Description</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>