<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/star-rating/css/star-rating.css}">

    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script th:src="@{/star-rating/js/star-rating.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <title>View Task</title>
</head>

<body style="background-color: rgba(200,200,200,0.3)">

<th:block th:replace="fragments/header :: header"/>

<div class="container my-5">
    <div th:object="${task}">
        <div class="row">
            <div class="col-lg-8">
                <h2><strong th:text="'Task #' + *{id}+' '
                +${task.getState().toString()=='READY' ? 'is ready!' : ''}"></strong></h2>
                <div class="row">
                    <h5 class="col-lg-5"><strong th:text="'Deadline: '+${task.getDeadlineStr()}"></strong></h5>
                    <div th:if="${isOwner}">
                        <th:block th:replace="fragments/popover :: extendDeadline"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="owner" class="col-form-label-lg"><strong>Creator</strong></label>
                            <div>
                                <a th:text="*{owner.getUsername()}"
                                   th:href="@{/user/{username}(username=*{owner.getUsername()})}"
                                   id="owner"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="executor" class="col-form-label-lg"><strong>Executor</strong></label>
                            <div>
                                <a id="executor" th:href="@{/user/{username}(username=*{executor.getUsername()})}"
                                   th:text="*{executor.getUsername()}"></a>
                            </div>
                        </div>
                        <label class="col-form-label-lg"><strong>Files</strong></label>
                        <div th:if="${task.getTaskFiles().size() == 0}">
                            No files attached!
                        </div>
                        <div th:each="file:${task.getTaskFiles()}">
                            <a style="word-wrap: break-word;" th:href="@{/download/{id}(id = ${file.getId()})}"
                               th:text="${file.getFileName()}"></a>
                        </div>
                        <form class="my-2" method="post" th:action="@{/viewtask/{id}(id = ${task.getId()})}"
                              enctype="multipart/form-data">
                            <input type="file" name="files" class="file-input" multiple required/>
                            <div class="upload-response">
                                <div id="multipleFileUploadError"></div>
                                <div id="multipleFileUploadSuccess"></div>
                            </div>
                            <button class="btn-sm btn-dark my-2" style="width: 100%" type="submit" name="addfiles">
                                Upload
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="subject" class="col-form-label-lg"><strong>Subject</strong></label>
                            <div th:text="*{subject}" id="subject"></div>

                            <label for="description" class="col-form-label-lg"><strong>Description</strong></label>
                            <div style="word-wrap: break-word;" id="description" th:text="*{description}"></div>

                            <label for="text" class="col-form-label-lg"><strong>Price</strong></label>
                            <div id="price" th:text="*{price}"></div>

                            <label for="text" class="col-form-label-lg"><strong>Text</strong></label>
                            <div id="text" th:text="*{text.length()==0}?'No text provided.' : *{text}"
                                 style="height: auto;border:1px;overflow:auto;word-wrap: break-word; max-height: 140px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h4 class="text-center"><b>Chat</b></h4>
                <th:block th:replace="fragments/chat :: chat"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 my-2">
                <button th:if="${isOwner}" class="btn btn-dark" type="button" style="width: 100%;"
                        data-toggle="modal"
                        data-target="#finishTaskModal">
                    Finish Task
                </button>

                <button th:if="${!isOwner}" class="btn btn-dark" type="button" style="width: 100%;"
                        data-toggle="modal"
                        data-target="#readyTaskModal">
                    Task is ready
                </button>
            </div>
            <div class="col-lg my-2">
                <a id="disputePopover" class="btn btn-dark" style="width: 100%;" tabindex="0"
                   th:if="${task.getTimeleft() > 3*24*60*60*1000}"
                   data-container="body" data-toggle="popover" data-placement="top"
                   data-content="You cannot start dispute earlier than three days to the deadline.">
                    Start Dispute
                </a>
                <a th:if="${task.getTimeleft() <= 3*24*60*60*1000}" class="btn btn-dark text-light"
                   style="width: 100%;"
                   data-toggle="modal"
                   data-target="#disputeTaskModal">
                    Start Dispute
                </a>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/modal :: finishTask"/>
<th:block th:replace="fragments/modal :: readyTask"/>
<th:block th:replace="fragments/modal :: disputeTask"/>

<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script th:inline="javascript">
    $(function () {
        $('#disputePopover').popover({
            trigger: 'focus'
        })
    })
    $("#input-id").rating();
</script>

<script th:src="@{/js/restrictTaskDeadline.js}"></script>
<script th:src="@{/js/extendDeadline.js}"></script>

</body>
</html>